@charset "UTF-8";
/* microsoft colors (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #7FBC00;
	text-align: center;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 16px;
	color: white;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #FFBA01;
	color: white;
}


/* MAIN */



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1.5vh 0;
	background-color: #F34F1C;
}

.more-link {
	color: black;
}

.more-link:active {
	color: pink !important;
}

.more-link:focus {
	color: lime;
}

.more-link:hover {
	color: cyan;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.3em;
}