@charset "UTF-8";
/* microsoft colors (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #7FBC00;
	text-align: center;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 16px;
	color: white;
}


/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #FFBA01;
	color: white;
}


/* MAIN */
input[type="text"] {
	display: block;
	margin: 2vh auto;
	border: none;
	border-bottom: 1px #747474 solid;
	min-width: 40%;
	background-color: transparent;
	text-align: center;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	color: white;
}

input[type="text"]::placeholder {
	opacity: 0.6;
	color: white;
}

main {
	padding: 10vh 0;
}

.display-false {
	color: black;
}

.display-true {
	color: royalblue;
}

.display-unknown {
	color: white;
}

#form-submit {
	border: 2px #747474 solid;
	border-radius: 5px;
	padding: 1vh 4vw;
	background-color: #01A6F0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	color: white;
}

#form-submit:active {
	border-color: #01A6F0;
	background-color: #F34F1C;
}

#display {
	display: block;
	margin: 2vh 40vw 0;
	border-bottom: 1px #FFBA01 solid;
}


/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1.5vh 0;
	background-color: #F34F1C;
}

.more-link {
	color: black;
}

.more-link:active {
	color: pink !important;
}

.more-link:focus {
	color: lime;
}

.more-link:hover {
	color: cyan;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.3em;
}